* {
  margin: 0;
  padding: 0;
  /* background-color: #ffffff; */
  /* font-family: "DIN Next LT Arabic", Arial, sans-serif; */

  line-height: 140%;
}
html[lang="ar"] {
  font-family: "Zain", "Alexandria", sans-serif;
  direction: rtl;
}

html[lang="en"] {
  font-family: "DIN Next LT Arabic", Arial, sans-serif;
  direction: ltr;
}
.nav-bar-login {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 80px 80px;
  margin-top: 20px;
  animation: loginani 0.4s ease-in forwards;
  opacity: 0;
}

.header-right {
  display: flex;
  gap: 5px;
}
.header-left img {
  width: 110.823517px;
  height: 55px;
}

.language-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right .lan {
  border: none;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
}
.loginsec {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.login {
  display: flex;
  width: 547px;
  height: 672px;
  /* margin: auto; */
  /* background-color: #ffffff; */
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 32px 48px 32px 48px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
  border-radius: 12px;
  margin-top: 55px;
  animation: loginani 0.4s ease-in forwards;
  opacity: 0;
  /* margin-bottom: 56px; */
}
/* .login.animationlogin {
 
} */
@keyframes loginani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.login-title {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 161px;
  padding-inline: 40px;
}
.login-title h1 {
  background-color: #ffffff;
  color: rgba(0, 44, 109, 1);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}
.login-title p {
  /* background-color: #ffffff; */
  color: rgba(107, 114, 128, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  line-height: 100%;
}
.login-inp {
  /* background-color: white; */
  width: 451px;
  /* height: 180px; */
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  padding: 40px 0px;
  position: relative;
}
.login-forget {
  /* background-color: white; */
  width: 451px;
  /* height: 180px; */
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  padding: 81px 0px 81px 0px;
  position: relative;
}
.login-confirm {
  /* background-color: white; */
  width: 451px;
  /* height: 180px; */
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  padding: 48px 0px;
  position: relative;
}
.login-inp input,
.login-confirm input {
  width: 451px;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgba(199, 204, 208, 1);
  border-bottom: 2px solid rgba(199, 204, 208, 1);
  outline: none;
  /* padding-bottom: 8px; */
  margin-bottom: 24px;
  background-color: transparent;
}
.login-forget input {
  width: 451px;
  height: 40px;
  border: none;
  border-bottom: 2px solid rgba(199, 204, 208, 1);
  border-bottom: 2px solid rgba(199, 204, 208, 1);
  outline: none;
  margin-bottom: 24px;
  background-color: transparent;
}
.login-confirm input::placeholder,
.login-inp input::placeholder,
.login-forget input::placeholder {
  font-size: 14px;
  font-weight: 400;
}
#linkforget {
  background-color: transparent;
  color: rgba(0, 44, 109, 1);
  position: absolute;
  font-size: 16px;
  text-decoration: none;
  margin-top: 10px;
  bottom: 182px;
  /* top: 141px; */
  inset-inline-end: 0px;
  cursor: pointer;
}
.btn-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 451px;
  height: 56px;
  border: none;
  background-color: rgba(100, 62, 150, 1);
  color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 700;
}
.btn-login-confirm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 451px;
  height: 56px;
  border: none;
  background-color: rgba(100, 62, 150, 1);
  color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s;
  /* margin-top: 10px; */
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 67px;
}
.btm-login:hover {
  background-color: #777;
  border-radius: 12px;
}
.input-group {
  position: relative;
}
.labelindex {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  top: 24px;
}
.labelindexcon,
.labelEmail,
.labelpassword,
.labelforgetemail,
.labelconfirm {
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  color: rgba(31, 41, 55, 1);
  /* padding-bottom: 9px; */
  padding-top: 10px;
}
#email-label {
  position: absolute;
  bottom: 33px;
  left: 2px;
  color: #777;
  font-size: 13px;
}
#email-error {
  position: absolute;
  top: 100%;
  left: 2px;
  font-size: 13px;
  font-weight: 400;
  color: red;
  /* display: none; */
}
.emailerror {
  background-color: transparent;
  position: absolute;
  top: 115px;
  inset-inline-start: 0px;
  color: red;
  font-size: 11px;
  padding: 0px 3px;
  display: none;
}
.login-btn {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  padding-top: 0;
  /* padding-bottom: 161px; */
}
.login-btn-confirm {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 48px; */
  /* padding-bottom: 161px; */
}
.login-btn-forget {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 48px; */
  padding-bottom: 150px;
}
.emailerrorconfirm {
  background-color: transparent;
  position: absolute;
  top: 123px;
  inset-inline-start: 2px;
  color: red;
  font-size: 11px;
  padding: 0px 3px;
  display: none;
}
.emailerrorconfirmone {
  background-color: transparent;
  position: absolute;
  bottom: 55px;
  inset-inline-start: 2px;
  color: red;
  font-size: 11px;
  padding: 0px 3px;
  display: none;
}
.passwordError {
  background-color: transparent;
  position: absolute;
  bottom: 202px;
  inset-inline-start: 0px;
  color: red;
  font-size: 11px;
  padding: 0px 3px;
  display: none;
}
.passwordErrorchar {
  background-color: transparent;
  position: absolute;
  bottom: 161px;
  left: 0px;
  color: red;
  font-size: 11px;
  padding: 0px 3px;
  display: none;
}
.errorforgett {
  position: absolute;
  bottom: 89px;
  left: 0px;
  color: red;
  font-size: 11px;
  padding: 0px 3px;
  display: none;
}
#language-selector {
  transition: all 0.3s;
}
.hideindex {
  outline: none;
  border: none;
  cursor: pointer;
}
/* @media (max-width: 1024px){
  .nav-bav{
display: none;
  }
  .login{
    width: 100%;
    height: 100%;
  }
} */
.visibility,
.visibilityoff {
  background-color: transparent;
  color: rgba(107, 114, 128, 1);
  width: 21px;
  height: 20px;
  position: absolute;
  font-size: 24px;
  top: 179px;
  inset-inline-end: 12px;
  cursor: pointer;
}
/* .visibility.rtlactive {
  position: absolute;
  top: 179px;
  left: 13px;
} */
.visibility {
  display: block;
}
.visibilityoff {
  display: none;
}
.visibilityoffnewconfirm,
.visibilitynewconfirm {
  color: rgba(107, 114, 128, 1);
  background-color: transparent;
  position: absolute;
  top: 90px;
  font-size: 24px;
  inset-inline-end: 12px;
  cursor: pointer;
}
.visibilitynewconfirm {
  display: block;
}
.visibilityoffnewconfirm {
  display: none;
}
.visibilityoffconfirm,
.visibilityconfirm {
  color: rgba(107, 114, 128, 1);
  background-color: transparent;
  position: absolute;
  top: 187px;
  font-size: 24px;
  inset-inline-end: 12px;
  cursor: pointer;
}
.visibilityoffconfirm {
  display: none;
}
.visibilityconfirm {
  display: block;
}
.login-title-create {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-top: 95px;
  padding-inline: 40px;
}
.login-title-create h1 {
  background-color: #ffffff;
  color: rgba(0, 44, 109, 1);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}
.login-title-create p {
  /* background-color: #ffffff; */
  color: rgba(107, 114, 128, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
  line-height: 100%;
}
.createaccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  gap: 4px;
  justify-content: center;
}
.pragraphcreate {
  font-size: 16px;
  font-weight: 400;
}
.link-create {
  font-weight: 400;
  font-size: 18px;
  color: rgba(0, 44, 109, 1);
  cursor: pointer;
  z-index: 2;
}
.emailerrorcreate,
.passwordErrorCreate,
.email-error-confirm-create {
  background-color: transparent;
  position: absolute;
  bottom: 140px;
  inset-inline-start: 0px;
  color: red;
  font-size: 11px;
  padding: 0px 3px;
  display: none;
}
.emailerrorcreate {
  top: 113px;
}
.passwordErrorCreate {
  bottom: 237px;
}
.login-btn-create {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding-top: 0;
  /* padding-bottom: 161px; */
}
.btn-login-create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 451px;
  height: 56px;
  border: none;
  background-color: rgba(100, 62, 150, 1);
  color: #ffffff;
  border-radius: 12px;
  transition: all 0.3s;
  margin-top: 10px;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 700;
}
.visibilitycreate,
.visibilityoffcreate {
  background-color: transparent;
  color: rgba(107, 114, 128, 1);
  width: 21px;
  height: 20px;
  position: absolute;
  font-size: 24px;
  top: 179px;
  inset-inline-end: 12px;
  cursor: pointer;
}
.visibilityoffcreate,
.visibilityoffconfirmcreate {
  display: none;
}
.visibilityconfirmcreate,
.visibilityoffconfirmcreate {
  background-color: transparent;
  color: rgba(107, 114, 128, 1);
  width: 21px;
  height: 20px;
  position: absolute;
  font-size: 24px;
  top: 275px;
  inset-inline-end: 12px;
  cursor: pointer;
  bottom: 202px;
}

.iconify-icon {
  font-size: 24px;
  background-color: transparent;
}
@media (max-width: 600px) {
  .nav-bar-login {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px 20px;
    margin-top: 20px;
    animation: loginani 0.4s ease-in forwards;
    opacity: 0;
  }

  .iconify-icon {
    font-size: 16px;
  }
  .header-right {
    display: flex;
    /* gap: 5px; */
  }
  .header-left img {
    width: 70.823517px;
    height: 39px;
  }
  .language-icon {
    width: 14px;
    height: 14px;
  }
  .header-right .lan {
    border: none;
    overflow: auto;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
  }
  .loginsec {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .login {
    display: flex;
    width: 227px;
    height: 440px;
    /* margin: auto; */
    /* background-color: #ffffff; */
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 32px 38px 32px 38px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    margin-top: 55px;
    animation: loginani 0.4s ease-in forwards;
    opacity: 0;
    /* margin-bottom: 56px; */
  }
  /* .login.animationlogin {
 
} */
  @keyframes loginani {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .login-title {
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 80px;
    padding-inline: 10px;
  }
  .login-title h1 {
    /* background-color: #ffffff; */
    color: rgba(0, 44, 109, 1);
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
  }
  .login-title p {
    /* background-color: #ffffff; */
    color: rgba(107, 114, 128, 1);
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    line-height: 100%;
  }
  .login-inp {
    /* background-color: white; */
    width: 251px;
    /* height: 180px; */
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    padding: 40px 0px;
    position: relative;
  }
  .login-forget {
    /* background-color: white; */
    width: 251px;
    /* height: 180px; */
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    padding: 41px 0px 41px 0px;
    position: relative;
  }
  .login-confirm {
    /* background-color: white; */
    width: 251px;
    /* height: 180px; */
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    padding: 24px 0px;
    position: relative;
  }
  .login-inp input,
  .login-confirm input {
    width: 251px;
    height: 20px;
    border: none;
    border-bottom: 2px solid rgba(199, 204, 208, 1);
    border-bottom: 2px solid rgba(199, 204, 208, 1);
    outline: none;
    /* padding-bottom: 8px; */
    margin-bottom: 14px;
    font-size: 11px;
    background-color: transparent;
  }
  .login-forget input {
    width: 251px;
    height: 20px;
    border: none;
    border-bottom: 2px solid rgba(199, 204, 208, 1);
    border-bottom: 2px solid rgba(199, 204, 208, 1);
    outline: none;
    font-size: 11px;
    margin-bottom: 14px;
    background-color: transparent;
  }
  .login-confirm input::placeholder,
  .login-inp input::placeholder,
  .login-forget input::placeholder {
    font-size: 9px;
    font-weight: 300;
  }
  .login-inp a {
    background-color: transparent;
    color: rgba(0, 44, 109, 1);
    position: absolute;
    font-size: 11px;
    text-decoration: none;
    margin-top: 10px;
    bottom: 80px;
    /* top: 141px; */
    inset-inline-end: 0px;
    cursor: pointer;
  }
  .btn-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 28px;
    border: none;
    background-color: rgba(100, 62, 150, 1);
    color: #ffffff;
    border-radius: 12px;
    transition: all 0.3s;
    margin-top: 10px;
    padding: 10px 0px;
    font-size: 10px;
    font-weight: 500;
  }
  .btn-login-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 28px;
    border: none;
    background-color: rgba(100, 62, 150, 1);
    color: #ffffff;
    border-radius: 12px;
    transition: all 0.3s;
    /* margin-top: 10px; */
    padding: 10px 0px;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 67px;
  }
  .btn-login-create {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 28px;
    border: none;
    background-color: rgba(100, 62, 150, 1);
    color: #ffffff;
    border-radius: 12px;
    transition: all 0.3s;
    margin-top: 10px;
    padding: 10px 0px;
    font-size: 10px;
    font-weight: 500;
  }
  .btm-login:hover {
    background-color: #777;
    border-radius: 12px;
  }
  .input-group {
    position: relative;
  }
  .labelindex {
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    top: 14px;
  }
  .labelindexcon,
  .labelEmail,
  .labelpassword,
  .labelforgetemail,
  .labelconfirm {
    /* background-color: #ffffff; */
    font-size: 11px;
    font-weight: 400;
    color: rgba(31, 41, 55, 1);
    /* padding-bottom: 9px; */
    padding-top: 10px;
  }
  
#linkforget {
  background-color: transparent;
  color: rgba(0, 44, 109, 1);
  position: absolute;
  font-size: 12px;
  text-decoration: none;
  margin-top: 10px;
  bottom: 130px;
  /* top: 141px; */
  inset-inline-end: 0px;
  cursor: pointer;
}
  #email-label {
    position: absolute;
    bottom: 23px;
    left: 2px;
    color: #777;
    font-size: 9px;
  }
  #email-error {
    position: absolute;
    top: 100%;
    left: 2px;
    font-size: 9px;
    font-weight: 400;
    color: red;
    /* display: none; */
  }
  .emailerror {
    background-color: transparent;
    position: absolute;
    top: 87px;
    inset-inline-start: 0px;
    color: red;
    font-size: 8px;
    padding: 0px 3px;
    /* display: none; */
  }
  .login-title-create {
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding-top: 80px;
    padding-inline: 12px;
  }
  .login-title-create h1 {
    background-color: #ffffff;
    color: rgba(0, 44, 109, 1);
    font-weight: 400;
    font-size: 22px;
    line-height: 100%;
  }
  .login-title-create p {
    /* background-color: #ffffff; */
    color: rgba(107, 114, 128, 1);
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    line-height: 1.4;
    line-height: 100%;
  }
  
  
 
  .login-btn {
    /* background-color: #ffffff; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    padding-top: 0;
    /* padding-bottom: 161px; */
  }
  .login-btn-create {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding-top: 0;
  }
  .login-btn-confirm {
    /* background-color: #ffffff; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 48px; */
    /* padding-bottom: 161px; */
  }
  .login-btn-forget {
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 48px; */
    padding-bottom: 95px;
  }
  .createaccount {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  gap: 4px;
  justify-content: center;
}
.pragraphcreate {
  font-size: 10px;
  font-weight: 400;
}
.link-create {
  font-weight: 400;
  font-size: 12px;
  color: rgba(0, 44, 109, 1);
  cursor: pointer;
  z-index: 2;
}
  .emailerrorconfirm {
    background-color: transparent;
    position: absolute;
    top: 70px;
    inset-inline-start: 2px;
    color: red;
    font-size: 9px;
    padding: 0px 3px;
    display: none;
  }
  .emailerrorconfirmone {
    background-color: transparent;
    position: absolute;
    top: 131px;
    inset-inline-start: 2px;
    color: red;
    font-size: 9px;
    padding: 0px 3px;
    display: none;
  }
  .passwordError {
    background-color: transparent;
    position: absolute;
    bottom: 145px;
    inset-inline-start: 0px;
    color: red;
    font-size: 8px;
    padding: 0px 3px;
    display: none;
  }
  .passwordErrorchar {
    background-color: transparent;
    position: absolute;
    bottom: 161px;
    left: 0px;
    color: red;
    font-size: 9px;
    padding: 0px 3px;
    display: none;
  }
  .errorforgett {
    background-color: transparent;
    position: absolute;
    bottom: 42px;
    inset-inline-start: 0px;
    color: red;
    font-size: 9px;
    padding: 0px 3px;
    display: none;
  }
  #language-selector {
    transition: all 0.3s;
  }
  .emailerrorcreate,
  .passwordErrorCreate,
  .email-error-confirm-create {
    background-color: transparent;
    position: absolute;
    bottom: 85px;
    inset-inline-start: 0px;
    color: red;
    font-size: 8px;
    padding: 0px 3px;
    display: none;
  }
  .emailerrorcreate {
    top: 87px;
  }
  .passwordErrorCreate {
    bottom: 146px;
  }
  .hideindex {
    outline: none;
    border: none;
    cursor: pointer;
  }
  /* @media (max-width: 1024px){
  .nav-bav{
display: none;
  }
  .login{
    width: 100%;
    height: 100%;
  }
} */
  .visibility,
  .visibilityoff {
    width: 11px;
    height: 10px;
    position: absolute;
    top: 127px;
    inset-inline-end: 11px;
    cursor: pointer;
    font-size: 16px;
  }
  /* .visibility.rtlactive {
  position: absolute;
  top: 179px;
  left: 13px;
} */
  .visibility {
    display: block;
  }
  .visibilityoff {
    display: none;
  }
  .visibilityoffnewconfirm,
  .visibilitynewconfirm {
    position: absolute;
    top: 50px;
    inset-inline-end: 12px;
    cursor: pointer;
    font-size: 16px;
  }
  .visibilitynewconfirm {
    display: block;
  }
  .visibilityoffnewconfirm {
    display: none;
  }
  .visibilityoffconfirm,
  .visibilityconfirm {
    position: absolute;
    top: 112px;
    font-size: 16px;
    inset-inline-end: 12px;
    cursor: pointer;
  }
  .visibilityoffconfirm {
    display: none;
  }
  .visibilityconfirm {
    display: block;
  }
  
  .visibilitycreate,
  .visibilityoffcreate {
    background-color: transparent;
    color: rgba(107, 114, 128, 1);
    width: 21px;
    height: 20px;
    position: absolute;
    font-size: 16px;
    top: 127px;
    inset-inline-end: 4px;
    cursor: pointer;
  }

  .visibilityconfirmcreate,
  .visibilityoffconfirmcreate {
    background-color: transparent;
    color: rgba(107, 114, 128, 1);
    width: 21px;
    height: 20px;
    position: absolute;
    font-size:16px;
    top: 188px;
    inset-inline-end: 4px;
    cursor: pointer;
    bottom: 202px;
  }

}
